@import url('fonts.txt');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  /*display: grid;*/
  height: 100%;
  place-items: center;
  text-align: center;
}
.container{
  height: 350px;
  width: 500px;
  position: relative;
  margin: auto;
  padding-top: 80px;
}
.topline-results{
  color: #fafafa; /* text very light gray */
  margin: 20px;
  text-align: center;
  line-height: 80px;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: none;

  /* full width stuff - maybe get rid of it */
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 80px;
  margin-top: 100px;
  left: 50%;
}
#instructions{
  margin: 10px;
}
#explanation{
  /*text-align: left;*/
  display: none;
}
ul { 
  display: inline-block; 
  text-align: left; 
  margin-left: 70px;
  margin-right: 40px;
  }
.container .wrapper{
  position: relative;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 20px;
}
.wrapper.active{
  border: none;
}
.wrapper{
  border: none;
}
.wrapper .image{
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}
.wrapper img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  border: none;
  outline: none;
}
.wrapper .icon{
  font-size: 100px;
  color: #9658fe;
}
.wrapper .text{
  font-size: 20px;
  font-weight: 500;
  color: #5B5B7B;
}
.wrapper #cancel-btn i{
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  color: #9658fe;
  cursor: pointer;
  display: none;
}
.wrapper.active:hover #cancel-btn i{
  display: block;
}
.wrapper #cancel-btn i:hover{
  color: #e74c3c;
}
.wrapper .file-name{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px 0;
  font-size: 18px;
  color: #fff;
  display: none;
  background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}
.wrapper.active:hover .file-name{
  display: block;
}
.container #custom-btn{
  margin-top: 30px;
  display: block;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
}

.instr-list-bottom {
  margin-top: 30px;
  display: none;
}
